[submodule "A - List of various things/P - Factory-Building-Games"]
	path = A - List of various things/P - Factory-Building-Games
	url = https://github.com/PicoCreator/awesome-list-factory-building-games.git
